.cabecalho {
	align-items: center;
	background: #FDE3EC;
	display: flex;
	position: relative;
	height: 40vh;
}

@media only screen and (min-width: 0px) and (max-width: 767px){
	.cabecalho{
		flex-direction: column;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
	.cabecalho{
		flex-direction: column;
	}
}

